
/backend/researchpapers/
/ArxivReader/node_modules/
/backend/faiss_index.faiss
/backend/papers.db
/backend/AI/__pycache__/
/backend/similarity/__pycache__/
**/__pycache__/
**/node_modules/
**/researchpapers/